{% liquid
  assign classes = 'text-m-sh2 uppercase md:text-sh2'
  case block.settings.font_style
    when 'italic'
      assign classes = 'text-m-sh1 font-italic lowercase md:text-sh1'
  endcase
%}

<p
  class="{{ classes }}"
  style="margin-top: {{ block.settings.margin_top }}px;margin-bottom: {{ block.settings.margin_bottom }}px;"
  data-animate {{ block.shopify_attributes }}
>
  {{ block.settings.title }}
</p>

{% schema %}
  {
    "name": "Subtitle",
    "tag": null,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Subtitle"
      },
      {
        "type": "select",
        "id": "font_style",
        "options": [
          { "value": "italic", "label": "Italic" },
          { "value": "uppercase", "label": "Uppercase" }
        ],
        "default": "italic",
        "label": "Font Style"
      },
      {
        "type": "header",
        "content": "Config"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px",
        "label": "Margin Top"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px",
        "label": "Margin Bottom"
      }
    ],
    "presets": [
      {
        "name": "Subtitle"
      }
    ]
  }
{% endschema %}