{% liquid
  assign mobile_classes = 'font-serif uppercase text-m-h2'
  case block.settings.mobile_font_size
    when 'small'
      assign mobile_classes = 'font-serif uppercase text-m-sh4'
    when 'large'
      assign mobile_classes = 'font-serif uppercase text-m-h1'
  endcase

  assign desktop_class = 'md:text-h4'
  case block.settings.font_size
    when 'small'
      assign desktop_class = 'md:text-h5'
    when 'large'
      assign desktop_class = 'md:text-h3'
  endcase
%}

<h2
  class="{{ mobile_classes }} {{ desktop_class }}"
  style="margin-top: {{ block.settings.margin_top }}px;margin-bottom: {{ block.settings.margin_bottom }}px;"
  data-animate {{ block.shopify_attributes }}
>
  {{ block.settings.title }}
</h2>

{% schema %}
  {
    "name": "Title",
    "tag": null,
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Title",
        "default": "Title Lorem Ipsum"
      },
      {
        "type": "select",
        "id": "font_size",
        "options": [
          { "value": "small", "label": "Small" },
          { "value": "regular", "label": "Regular" },
          { "value": "large", "label": "Large" }
        ],
        "default": "regular",
        "label": "Font Size"
      },
      {
        "type": "select",
        "id": "mobile_font_size",
        "options": [
          { "value": "small", "label": "Small" },
          { "value": "regular", "label": "Regular" },
          { "value": "large", "label": "Large" }
        ],
        "default": "large",
        "label": "Mobile Font Size"
      },
      {
        "type": "header",
        "content": "Config"
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px",
        "label": "Margin Top"
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0,
        "unit": "px",
        "label": "Margin Bottom"
      }
    ],
    "presets": [
      {
        "name": "Title"
      }
    ]
  }
{% endschema %}